
.background {
background-image: url(img/background.jpg);
height: 1224px;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: center;
}

.top-black {
    background: black;
    height: 171px;
    display: flex;
    border-bottom: 10px solid #fff;
    display: flex;
    justify-content: center;
}

.logo {
    margin: 30px 0 30px 50px;
}

.top-black h1 {
    font-size: 30px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    display: flex;
    align-items: center;
}

.grid {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#date {
    font-size: 30px;
    color: rgb(21, 21, 146);
    font-weight: bolder;
}

#search {
    text-transform: uppercase;
    font-weight: bold;
}

.box-1 {
    width: 665px;
    height: 475px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 5px 8px black;
    display: flex;
    justify-content: center;
}

.box-2 {
    width: 665px;
    height: 300px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 5px 8px black;
}

.box-3 {
    width: 665px;
    height: 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 5px 8px black;
    display: flex;
    justify-content: center;
    
}

#text {
    padding:15px;
    text-align:left;
    font-weight:300px;
    font-size:16px;
    font-stretch:extra-condensed;
    height:30%;
}

#img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#titulo {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 50px;
    text-align: center;
    margin-top: 10px;
}

